// USER VARIABLES SECTION

$accent: orange // Accent Color
$fontsize: 16px // Body Font Size
$textcolor: #333 // Text Color
$lineheight: 1.65 // Document Line Height
$userfont: roboto-oh5, sans-serif // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 30px
$gutter: $grid-gutter-width

// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss' // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss' // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/_utilities.scss' // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		src: url($furl) format('woff2')

@include font('Inter', normal, 400, '../fonts/Inter-Regular.ttf')
@include font('Inter', normal, 500, '../fonts/Inter-Medium.ttf')
@include font('Inter', normal, 600, '../fonts/Inter-SemiBold.ttf')
@include font('Inter', normal, 700, '../fonts/Inter-Bold.ttf')
@include font('Inter', normal, 900, '../fonts/Inter-Black.ttf')
@include font('Roboto', normal, 400, '../fonts/Roboto-Medium.ttf')

// GENERAL CSS SETTINGS

::placeholder
	color: #666




